@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider

<div class="page-layout">
    <AuthorizeView>
        <Authorized>
            <AuthorizeView Roles="Employee" Context="employeeContext">
                <Authorized>
                    <EmployeeNavMenu />
                </Authorized>
                <NotAuthorized>
                    <NavMenu />
                </NotAuthorized>
            </AuthorizeView>

            <main class="main-content">
                @Body
            </main>
        </Authorized>
        <NotAuthorized>
            <bank.Components.RedirectToLogin />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (AuthStateProvider is bank.Providers.CustomAuthStateProvider customProvider)
            {
                await customProvider.InitializeAsync();
            }
        }
    }


}
